@import 'bootstrap/dist/css/bootstrap.min.css';
body {
  margin: 0;
  padding: 0;
  background-image: url('https://6af939986da8c586.demo.carrd.co/assets/images/bg.jpg?v=4ba5bdd3');

  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  z-index: 0;
  /* pointer-events: none; */
  transform: scale(1);
  background-attachment: scroll;
  background-position: 0% 0%, center;
  background-repeat: repeat, repeat;
  background-size: auto, cover;
  background-color: #ffffff;
}
.container {
  margin: 20% 50px;
  flex: 1;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.about {
  display: 'flex';
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-in-out 0.25s, min-height 0.25s ease-in-out,
    max-height 0.25s ease-in-out;
}
.about h1 {
  font-size: 4.625em;
  font-family: 'Nunito', sans-serif;
  letter-spacing: -0.2rem;
  font-size: 4.625em;
  line-height: 1;
  font-weight: 200;
  color: #39bce6;
  margin: 0;
}
.about p {
  color: rgba(0, 0, 0, 0.431);
}
.button {
  padding: 2em 0;
  color: 'white';
}
.button button {
  padding: 20px 20px;
  border-radius: 10px;
  border: 1px solid #d6d6d6;
  cursor: pointer;
  background-color: #08bdbd;
  font-weight: bold;
  color: #fff;
}
.button button:hover {
  scale: 1.05;
}
.contact .contact-form {
  display: 'flex';
}
.contact .contact-form div {
  padding: 10px 0px;
}
.contact .contact-form div label {
  display: 'block';
}
.contact .contact-form div input {
  padding: 10px 10px;
  border-radius: 10px;
  border: 1px solid #098484;
  width: 20em;
  background-color: #098484;
  outline: none;
  color: white;
}
.contact .contact-form div textarea {
  outline: none;
  padding: 10px 10px;
  border-radius: 10px;
  border: 1px solid #098484;
  width: 20em;
  background-color: #098484;
  color: white;
}
.contact .contact-form div input:hover,
.contact .contact-form div input:focus {
  border: 1px solid #098484;
  outline: none;
}
.contact-form .button button {
  background-color: #fff;
  color: #098484;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
